@model TestFirstWebApp.Models.AddNumbersViewModel

@{
    ViewBag.Title = "Calculate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate</h2>

<h3>Sum = @Html.DisplayFor(x => Model.Result)</h3>

<p>Welcome @Model.Name</p>

