
@{
    ViewBag.Title = "Mybootcamp";
}

<h2>Mybootcamp</h2>

<h1>C# rules!!!</h1>

<form action="/Home/SearchByName" method="get">
    Name: <input type="number" name="searchName" />
    <br />
    <input type="submit" value="Search" />
</form>

